img {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid black;
}
main {
    background: none:
}

ul #games {
    display: flex;
    justify-content: space-evenly;
    background: darkgray;
    list-style: none;
}
main li {
    list-style: none;
    padding: 20px;
    background: darkgray;

}

h3 {
    display: flex;
    justify-content: center;
    background: skyblue;
    margin: 5px;
    border-radius: 5px;
}

h2 {
    font-size: 300%;
    background: grey;
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: space-evenly;
}
