body {
    font-family: 'Raleway', sans-serif; 
    background: darkgray; 

}

header {
    display: flex;
    justify-content: space-between;
    background: grey;
    height: 150px;
    border-radius: 5px;

}

nav {
    width: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul {
    width: 450px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background: darkgray;
    border-radius: 5px;
    list-style: none;
}

.nav-buttons ul {
    display: flex;
    
    padding: 10px;
    list-style: none;
}

li {
    color: maroon;
    background: whitesmoke;
    padding: 5px;
    border-radius: 5px;
}

.logo img {
    height: 135px;
    width: 135px;
    border-radius: 100%;
    border: 1px solid black;
    margin: 5px;
}

a:link {
    text-decoration: none;
    color: Maroon;
  }
  
  a:visited {
    text-decoration: none;
    color: Maroon;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
    font-size: 110%;
  }

  button {
    cursor:pointer;
  }

