


body {
    font-family: 'Raleway', sans-serif;
    
    
}

header {
    background: grey;
    height: 150px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}



