body {
    font-family: 'Raleway', sans-serif;   
}

header {
    display: flex;
    justify-content: space-between;
    background: grey;
    height: 150px;
    border-radius: 5px;

}

nav {
width: 600px;
display: flex;
align-items: flex-end;
justify-content: center;
}

ul {
    width: 450px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background: darkgray;
    border-radius: 5px;
}
.nav-buttons ul {
    display: flex;
    
    padding: 10px;
    list-style: none;
}

li {
    color: maroon;
    background: whitesmoke;

    padding: 5px;
    border-radius: 5px;
}

.logo img {
    height: 135px;
    width: 135px;
    border-radius: 100%;
    border: 1px solid black;
    margin: 5px;

}

